.message {
  color: $alert-color;
}

.field_with_errors {
  border: .10rem solid $alert-color;
}

.required {
  color: $alert-color;
}

.flash {
  @include grid-row();
  @include grid-column(24);
  text-align: center;
}