#people {
  @include grid-row();

  .people_header {
    @include grid-column(
     $columns: 24
    );

    .banner {
      vertical-align: middle;
    }

    #search_people_form {
      @include grid-column(
       $columns: 24
      );

      label {
        font-weight: bold;
        margin-bottom: .5rem;
        padding-left: .25rem;
      }

      .search {
        @include grid-column(
          $columns: 6
        );
				@include grid-column-collapse();
      }

      .affiliate_id {
        @include grid-column(
          $columns: 6
        );
				@include grid-column-collapse();
      }

      .navigation {
        margin-top: 2rem;
        @include grid-column(
          $columns: 5
        );
				#search_people_button {
					margin-bottom: 0;
				}
      }
    }
  }

  .people_list {
		@include grid-column(
		  $columns: 24
		);

    th .current {
      padding-right: 2em;
      background-repeat: no-repeat;
      background-position: right center;
    }

    th .asc {
      background-image: asset_url("drop25.png");
    }

    th .desc {
      background-image: asset_url("drop27.png");
    }

    table {
      @include grid-column(
       $columns: 24
      );
    }
  }
}

#person {
  @include grid-row();
  .navigation {
  }
}

.person_header {
  margin-bottom: 1em;
  .basic_information  {
    .name {
      @include grid-column(
       $columns: 4
      );
    }
    .gender {
      @include grid-column(
       $columns: 4
      );
    }
    .birth_date {
      @include grid-column(
       $columns: 4
      );
    }
    .race {
      @include grid-column(
       $columns: 4
      );
    }
    .ethnicity {
      @include grid-column(
       $columns: 4
      );
    }
    .identifiers {
      @include grid-column(
       $columns: 4
      );
    }

  }
}

.person_navigation {
  ul {
    @include tabs-container();
    li {
      @include tabs-title;
    }
  }
}